
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #ad1ce6;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

header {
  background-color: #000;
  color: white;
  text-align: center;
  padding: 0.1rem;
  font-size: 1rem;
}

main {
  max-width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 1rem;
}


#players, #sounds {
  background-color: #b584c3;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 45%;
  min-width: 300px;
}

/* Lista graczy */
.player {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  padding: 1rem;
  background: #e0e0e0;
  border-radius: 5px;
}

.player-avatar {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  margin-right: 10px;
  border: 2px solid #333;
}

.player-name {
  flex: 1;
  font-weight: bold;
  cursor: pointer;
}

.player-points {
  font-weight: bold;
  margin: 0 0.5rem;
}

button {
  padding: 0.5rem;
  border: none;
  background: #007bff;
  margin: 0 0.5rem;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button-correct {
  width: 100%;
  padding: 0.7rem;
  background: #28a745;
  color: white;
  border-radius: 5px;
  margin: 1rem;
  cursor: pointer;
}

button-wrong {
  width: 100%;
  padding: 0.7rem;
  background: #FF0000;
  color: white;
  border-radius: 5px;
  margin: 1rem;
  cursor: pointer;
}

button-yay {
  width: 100%;
  padding: 0.7rem;
  background: #8F00FF;
  color: white;
  border-radius: 5px;
  margin: 1rem;
  cursor: pointer;
}

button-applouse {
  width: 100%;
  padding: 0.7rem;
  background: #CB9A39;
  color: white;
  border-radius: 5px;
  margin: 1rem;
  cursor: pointer;
}

	
button:hover {
  background: #0056b3;
  padding: 0.5rem;
}


#sound-table {
  width: 100%;
  border-collapse: collapse;
}

#sound-table td {
  padding: 5px;
  text-align: center;
  border: none;
  background: transparent;
}

#sound-table button {
  width: 100%;
  padding: 0.5rem;
  background: #28a745;
  color: white;
  border-radius: 5px;
}

#sound-table button:hover {
  background: #218838;
}


footer {
  background-color: #000;
  color: white;
  text-align: center;
  padding: 0.1rem;
  font-size: 0.9rem;
  margin-top: auto;
  width: 100%;
}
